In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.head(10)

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1
5,769060024464,Y,Browning-Hart,4.375,150000,360,2012-02-01,04/2012,80,1.0,...,0,0,0,0,0,0,0,0,0,1
6,148071614687,X,OTHER,4.000,59000,360,2012-02-01,04/2012,95,1.0,...,0,0,0,0,0,0,0,0,0,1
7,853383953266,Y,Browning-Hart,4.500,319000,300,2012-01-01,03/2012,62,1.0,...,0,0,0,0,0,0,0,0,0,1
8,423590072335,X,Browning-Hart,4.000,520000,360,2012-03-01,05/2012,76,1.0,...,0,1,0,1,0,1,2,0,1,1
9,308990846816,X,OTHER,4.000,214000,360,2012-01-01,03/2012,95,2.0,...,0,0,1,1,1,1,1,2,2,1

In [4]:
data.shape

(116058, 29)

In [5]:
data.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'm13'],
      dtype='object')

In [6]:
data['co-borrower_credit_score'].unique()

array([  0., 638., 700., 770., 813., 658., 742., 736., 729., 625., 753.,
       759., 722., 680., 732., 780., 787., 766., 702., 785., 788., 697.,
       731., 685., 738., 699., 760., 668., 656., 671., 726., 781., 660.,
       718., 693., 808., 666., 648., 696., 804., 703., 704., 694., 777.,
       728., 687., 674., 644., 801., 727., 786., 657., 756., 774., 768.,
       795., 775., 715., 716., 810., 761., 806., 749., 802., 637., 772.,
       765., 667., 767., 714., 633., 698., 776., 798., 707., 659., 744.,
       683., 800., 809., 675., 670., 792., 673., 720., 711., 807., 689.,
       750., 754., 725., 789., 799., 663., 752., 672., 745., 665., 763.,
       684., 796., 635., 793., 782., 695., 764., 647., 721., 712., 740.,
       779., 664., 723., 628., 812., 790., 762., 719., 817., 640., 805.,
       677., 690., 771., 661., 713., 686., 730., 645., 755., 773., 784.,
       797., 803., 739., 814., 819., 791., 815., 794., 751., 778., 820.,
       816., 758., 811., 743., 821., 757., 783., 746., 682., 706., 769.,
       747., 642., 733., 701., 832., 709., 708., 735., 748., 737., 724.,
       710., 692., 824., 705., 688., 734., 818., 823., 825., 717., 678.,
       826., 636., 822., 676., 622., 741., 669., 691., 641., 650., 649.,
       631., 681., 621., 624., 651., 829., 655., 662., 639., 646., 830.,
       679., 643., 654., 623., 653., 827., 620., 627., 652., 632., 828.,
       634., 626., 630., 831., 834., 629., 836.])

In [20]:
data['loan_purpose'].unique()

array(['C86', 'B12', 'A23'], dtype=object)

In [14]:
data['loan_purpose'].count().sum()

116058

In [22]:
len(set(data['financial_institution']))

19

In [27]:
data['date_dif']=(data['first_payment_date']-data['origination_date'])

TypeError: unsupported operand type(s) for -: 'str' and 'str'